<button id="js-discuss-button" class="rounded-2xl border-2 border-slate-400 md:w-auto w-full px-5 py-4 hover:font-semibold">Show comments</button>
<div id="disqus_thread"></div>
<script>
  var commentButton = document.getElementById("js-discuss-button")
  var disqus_config = function () {
    this.page.url = `https://stevenwhat.me<%= path %>`;
    this.page.identifier = "<%= path.underscore %>";
    this.page.title = "<%= title %>";
  };
  commentButton.addEventListener('click', function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://blog-zlm7tpahgt.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);

    event.target.parentElement.removeChild(event.target);
  })
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
