<div class="flex flex-col md:flex-row items-center gap-5 justify-between mx-32 mt-20">
  <%= link_to_page(site.get('index'), class: "text-3xl font-serif font-light") %>
  <nav class="flex gap-x-6 items-center">
    <%= render "partials/navbar/toggle_dark_mode" %>
    <% PrimaryPage.all.each do |page| %>
      <% next if page.request_path == "/" %>
      <%= link_to_if_current(page.title, page.page) %>
    <% end %>
  </nav>
</div>