<div data-controller="subscription" class="flex flex-col items-center p-8 bg-slate-50 dark:bg-slate-800 dark:shadow-slate-700 shadow-lg">
  <p class="text-xl">Get my latest articles, learnings, projects</p>
  <p>At most one email a month and no spam.</p>

  <div class="mt-5 flex">
    <label class="items-center">
      <input type="email" data-subscription-target="email" class="w-full rounded-xl dark:bg-zinc-700" placeholder="Your email" required>
    </label>
    <button type="submit" data-action="click->subscription#submitForm" class="px-3 ml-2 ext-white bg-blue-500 rounded-lg">
      Subscribe
    </button>
  </div>
</div>
