---
title: Pending Subscription
---

<div data-controller="subscription" data-subscription-function-value="new" data-subscription-email-value="<%= params["email"] %>" class="mt-20">
  <img data-subscription-target="loading" src="https://steven-steven.github.io/Blog/assets/images/loading.gif" alt="Loading..." class="w-80 my-0 mx-auto"/>

  <template data-subscription-target="successTemplate">
    <div class="text-xl bg-green-100 dark:bg-green-900 p-10">
      <p>Thanks! Just one last step..</p>
      <p>We've sent you an email. Please check them and confirm your subscription.</p>

      <br/>
      <p> - Steven </p>
    </div>
  </template>

  <template data-subscription-target="failTemplate">
    <div class="text-xl bg-red-100 dark:bg-amber-900 p-10">
      <p>👀 It looks like you've already been subscribed.</p>

      <br/>
      <p> - Steven </p>
    </div>
  </template>
</div>
