<%= render_layout "body" do %>
  <div class="max-w-[46rem] md:mx-auto flex flex-col gap-y-10 md:gap-y-20 px-6 md:px-11 leading-relaxed font-serif">
    <div>
      <%= yield %>
    </div>
    <footer class="">
      <div class="text-center text-xs">© Steven 2019</div>
    </footer>
  </div>
<% end %>
