---
title: Steven
posts: 10
primary_page:
  title: Home
  order: 1
---

<div class="flex flex-col items-center text-center border-b-2 border-dotted p-10 gap-2 md:gap-5">
  <span class="opacity-80">
    Welcome to my creative space!
    <br/>
    Growing everyday - one brain cell at a time!
  </span>
  <div class="relative">
    <%= image_tag("https://steven-steven.github.io/Blog/assets/images/avatar_hello.png", :alt => "My Avatar", class:"w-24 rounded-full") %>
    <div class="rounded-full text-3xl absolute -right-1 -top-1">👋</div>
  </div>
</div>
<div class="border-b-2 border-dotted py-10 md:px-5">
  <h2 class="pb-5 text-2xl font-bold">About</h2>
  Hi! I'm Steven, an Indonesian software developer currently based in Canada. I love to tinker, learn, and brew ideas while I sip at a cup of matcha on a cozy, rainy Sunday afternoon.
  <br /><br />
  Welcome to my website! Much like myself, it's always a work in progress. Here, I spill my life experiences, lessons from books, hobbies, projects, or just random thoughts I'd like to pass on. Hope you enjoy your visit!
</div>

<div class="p-5">
  <h2 class="py-5 text-2xl font-bold">Let's Stay Connected</h2>
  <ul>
    <li>
      Email:
      <a href="mailto:steven.infinity29@gmail.com" class="pl-1 font-normal">
          steven.infinity29@gmail.com
      </a>
    </li>
    <li>
      LinkedIn:
      <a href="https://www.linkedin.com/in/steven-steven/" class="pl-1 font-normal">
          linkedin.com/in/steven-steven/
      </a>
    </li>
    <li>
      Github:
      <a href="https://github.com/steven-steven" class="pl-1 font-normal">
          github.com/steven-steven
      </a>
    </li>
  </ul>
</div>
